<div id="header">
            <img src="images/a.jpg" class="bckgrnd2" width="100%" height="70">
            <div id="header_in" style="text-align:center;">
                    <img src="images/toyota_logo.png" width="220" height="55">
            </div>
        </div>
<div id="loginform">
    <h2><%= login %></h2><br>
    <form id="login-form">
        <table style="text-align: center; width: 300px; margin: 0 auto;">
            <tr>
                <td><%= username %></td>
                <td> : </td>
                <td><input type="text" id="username"></td>
            </tr>
            <tr>
                <td><%= password %></td>
                <td> : </td>
                <td><input type="password" id="password"></td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: center !important;"><button id="login"><%= button %></button></td>
            </tr>
        </table>
    </form>
</div>
<div id="lang_div">
    <div class="language_but" id="tr">TR</div>
    <div class="language_but" id="eng">ENG</div>
</div>