    <div id="popup">
        <img src="images/a.jpg" class="bckgrnd popupBckgrnd" width="490" height="400">
        <div style="position: relative; z-index: 30;">
            <div id="popupdate"><b><%= date %> &nbsp;&nbsp;&nbsp; <%= meal %></b>  </div>
            <div id="popuptable">
                <table border="1" bordercolor="#FFF">
                    <tr>
                        <th><%= firstName %></th>
                        <th><%= lastName %></th>
                        <th><%= userName %></th>
                    </tr>
                </table>
            </div>
            <div id="popupdate">
                <button id="popupBack" style="width: 20%"><%= back %></button>
            </div>
        </div>
    </div>
